{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "amd": true,
        "commonjs": true
    },
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "module"
    },
    "rules": {
        "no-console": "off",
        "no-debugger": "off",
        "no-empty": "off"
    }
}
